.mainbody{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 1rem;
   flex-wrap: wrap;
}
.mainbody img{
  border: solid 2px blueviolet;
  border-radius: 1.69rem;
}

.login-cont {
  display: flex;
  flex-direction: column;
  color: white;
  width: 25rem;
  height: 25rem;
  border: 2px solid blueviolet;
  align-items: center;
  border-radius:2rem ;
}
.footer-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  color: white;
  border: 2px solid blueviolet;
  padding: 1rem;
}
.btn-cont {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

}
.btn-cont button {
  width: 17.6rem;
  height: 2rem;
  margin: 0.1rem;
  cursor: pointer;
  border-radius: 0.5rem;
    border: none;
    outline: none;
}
.login-cont h1 {
  text-decoration: underline;
}
.login-header{
   height: 4.5rem;
   /* border-bottom: 2px solid grey; */
   /* background-color:RGB(35, 34, 52); */
   background-color:blueviolet;
   box-shadow: 0px 3px 5px black;
   font-size: 1.2rem;
   color: white;
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.logheader :hover{
   background-color:blueviolet;
}
