.video-card{
    height: 100%;
    width: 35%;
    margin: auto;
    scroll-snap-align: start;
    position: relative;
}

.post-btn{
    border: 1px solid black;
    width: 4rem;
    background-color: violet;
    color: white;
    border-radius: 5px;
    }

.video-card-username{
    z-index:1;
    position: absolute;
    bottom: 10rem;
    left: 20px;
}

.video-card-music{
    z-index: 1;
    font-weight: 800;
    position: absolute;
    bottom: 9rem;
    left: 12px;
}

.video-card-comment-box{
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow: scroll;
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}


.comment-form{
    height: 10%;
}

.comment-form input{
    width: 85%;
    outline: none;
    font-size: 1.2rem;

}


.video-card-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video-card-comment{
    z-index: 2;
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 20rem;
    right: 20px;
    
}


  .video-card-like {
    z-index: 2;
    color:white;
    font-size: 2.5rem;
    position: absolute;
    top: 23rem;
    right: 20px;
    cursor: pointer;
  }

.video-card-comment-box{
    background-color:  RGB(31, 27, 44);
    color: white;
}
  .post-user-comment{
    display: flex;
  }


